<header class="sticky-top">
  <nav class="navbar navbar-expand-sm ">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">
        <img src="/assets/images/hkb_logo.png"/>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ms-5" id="mynavbar">
        <ul class="navbar-nav me-auto">

          <li class="nav-item" (click)="closeNavbar()">
            <a href="/#about" class="nav-link">ABOUT</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">SERVICES  <i class="fas fa-chevron-down rotate-icon"></i></a>

              <ul class="dropdown-menu pt-4">
              <div class="container ">
                <div class="row">
                  <div class="col-lg-2 mb-4" *ngFor="let item of services; let i=index">
                    <p (click)="navigate(item, i, 'S')" class="mb-0">{{item.title}}</p>
                  </div>
                </div>
              </div>
            </ul>

            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown">INDUSTRIES <i class="fas fa-chevron-down rotate-icon"></i></a>
  
                <ul class="dropdown-menu pt-4">
                <div class="container ">
                  <div class="row">
                    <div class="col-lg-2 mb-4" *ngFor="let item of industries[1].content; let i=index">
                      <p (click)="navigate(item, i, 'I')" class="mb-0">{{item.title}}</p>
                    </div>
                    <!-- <a href="#sector" class="col-lg-2 mb-4"*ngFor="let item of industries[1].content">
                      {{item.title}}
                    </a> -->
                  </div>
                </div>
              </ul>
  
              </li>

              <!-- <li class="nav-item"  >
                <a href="#team" class="nav-link">PARTNER</a>
              </li> -->

              <li class="nav-item" (click)="closeNavbar()">
                <a href="/#blog" class="nav-link">BLOGS</a>
              </li>

              <li class="nav-item" (click)="closeNavbar()">
                <a href="#contact" class="nav-link">CONTACT US</a>
              </li>

              <!-- <li class="nav-item" (click)="closeNavbar()">
                <a href="smart-city" class="nav-link">SMART CITY</a>
              </li> -->
    

            </ul>
            
            <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngIf="language === 'en'"  (click)="switchlang('ar')">
                <a class="nav-link">عربي</a>
              </li>

              <li class="nav-item" *ngIf="language === 'ar'" (click)="switchlang('en')">
                <a class="nav-link">English</a>
              </li>
              </ul> -->
        

      </div>
    </div>
  </nav>
</header>
