.navbar .megamenu {
  padding: 1rem;
}




header{
  nav{
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    .navbar-brand{
      img{
        min-height: 45px;
        max-height: 45px;
      }
    }

    .nav-item{
      position: relative;
      margin-right: 1rem;
      font-size: 1rem;

      a.active{
        font-weight: bold;
      }

      &::before{
        content: "";
        position: absolute;
        background:var(--primary-color);
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transition: .5s ease-out;
      }

      &:hover::before{
        transform: scaleX(1);
      }

    }

    

  }
}


.language-switch{
  width: auto;
}

.form-select:focus{
  border-color: #ddd;
    outline: 0;
    box-shadow: 0 0 0 0
}



@media only screen and (max-width: 767px) {

#mynavbar{
  position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 100%;
    left: 0px;
    padding: 1rem;
    top: 72px;
    margin-left: 0px !important;
}

.navbar-toggler:focus{
  box-shadow: 0 0 0 0 !important;
}

.common-space{
  padding: 5rem 2rem;
}

}


