<app-header></app-header>

  <!-- video banner -->
  <section id="video-banner">
    <video
      playsinline
      [muted]="'muted'"
      loop
      autoplay
      [src]="videoSource"
    ></video>

    <div class="video-content clear-fix">
      <div class="container">
        <p>HKB Tech</p>
        <h3>
          Lead the wave of new technologies - <br />synergizing localisation
          with globalisation
        </h3>
      </div>
      <a class="move-forward" href="#about">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </a>
    </div>
  </section>