<app-header></app-header>

  <!-- video banner -->
  <section id="video-banner">
    <video
      playsinline
      [muted]="'muted'"
      loop
      autoplay
      [src]="videoSource"
    ></video>

    <div class="video-content clear-fix">
      <div class="container">
        <h1>HKB Tech</h1>
        <h3 class="tw" #tw2> Smart City </h3>
      </div>
      <!-- <a class="move-forward" href="#about">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </a> -->
    </div>
  </section>

  <section id="smartCity" class="common-space">
    <div class="container">
      <div class="row">

        <div class="col-xl-8 offset-xl-4">
          <div class="smartCity-bg">
              <div class="smartCity-bg--content" data-aos="fade-right">
                <h2>About MGF </h2>
                <p>The Misk Global Forum (MGF) is the biggest youth forum in the region, an annual flagship event hosted by Misk Foundation, dedicated to empowering and connecting young leaders, innovators, and entrepreneurs globally. MGF serves as a dynamic platform for fostering vibrant discussions, exchanging ideas, and creating networking opportunities to nurture youth potential, encourage collaboration, and catalyze positive global change.</p>
              </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section id="urbanMobility" class="common-space">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6"></div>

      <div class="col-lg-6">
        <p>Our theme this year is The Big Now, encouraging young individuals to think ambitiously and act promptly, channeling their energy towards proactive problem-solving.</p>
        <p>Big represents ambitious thinking, and Now highlights timely action. Within this overarching theme, we’re emphasizing the sub-themes: Think Big, Act Now, urging young leaders to dream big, set bold goals, and take immediate and purposeful action to bring their visions to life.</p>
        <p>It’s about embracing the potential of the present moment to drive impactful change for a better tomorrow.</p>
      </div>

    </div>
  </div>
  </section>

  <section id="forefront">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="forefront-border" data-aos="fade-up" data-aos-duration="1000">

          <div class="forefront-box">

            <div class="forefront-box-one">
              <h3>Think BIG</h3>
              <p>Embracing ambitious thinking and encouraging innovative ideas & aspirations that dare to challenge the norms. To envision a world that knows no limits, tackling the most pressing global challenges with big visionary Thinking.</p>
            </div>

            <div class="forefront-box-two">
              <h3>Act NOW</h3>
              <p>Showcasing the power of conclusive impact and immediate action. A call to seize the present and craft the future we envision. By acting now, we are transforming dreams and ideas into reality.</p>
            </div>

          </div>
        </div>

        </div>
      </div>
    </div>
  </section>


  <section id="smartCity" class="common-space layout-change">
    <div class="container">
      <div class="row">

        <div class="col-xl-9">
          <div class="smartCity-bg">
              <div class="smartCity-bg--content" data-aos="fade-left" data-aos-duration="1500">
                <h2>About MGF </h2>
                <p>The Misk Global Forum (MGF) is the biggest youth forum in the region, an annual flagship event hosted by Misk Foundation, dedicated to empowering and connecting young leaders, innovators, and entrepreneurs globally. MGF serves as a dynamic platform for fostering vibrant discussions, exchanging ideas, and creating networking opportunities to nurture youth potential, encourage collaboration, and catalyze positive global change.</p>
              </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section id="counter" class="common-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="counter-box">

            <div class="counter-box--values text-center" data-aos="fade-up" data-aos-duration="2000">
              <span class="counter-box--values_count" [countUp]="345" [options]="{ enableScrollSpy: true }">0 </span> <br/>
              <span>Editions</span> 
            </div>

            <div class="counter-box--values text-center" data-aos="fade-up" data-aos-duration="2300">
              <span class="counter-box--values_count" [countUp]="112" [options]="{ enableScrollSpy: true }">0 </span>
              <span class="counter-box--values_count">K+</span> <br/>
              <span>Attendees</span>
            </div>

            <div class="counter-box--values text-center" data-aos="fade-up" data-aos-duration="2200">
              <span class="counter-box--values_count" [countUp]="130" [options]="{ enableScrollSpy: true }">0 </span>
              <span class="counter-box--values_count">K+</span> <br/>
              <span>Nationalities</span>
            </div>

            <div class="counter-box--values text-center" data-aos="fade-up" data-aos-duration="2300">
              <span class="counter-box--values_count" [countUp]="70" [options]="{ enableScrollSpy: true }">0 </span>
              <span class="counter-box--values_count">+</span> <br/>
              <span>Partners</span>
            </div>

            <div class="counter-box--values text-center" data-aos="fade-up" data-aos-duration="2400">
              <span class="counter-box--values_count" [countUp]="780" [options]="{ enableScrollSpy: true }">0 </span>
              <span class="counter-box--values_count">+</span> <br/>
              <span>Speakers</span>
            </div>



          </div>




        </div>
      </div>
    </div>
  </section>

  <app-case-study></app-case-study>
  <app-partners></app-partners>
  <app-footer></app-footer>