<section id="partners" class="common-space">

    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <!-- <h6 class="title text-body">CONTACT US</h6> -->
          <p class="title-description">Clients (Partners)</p>
        </div>
  
        <div class="col-xl-12 mt-5 d-none d-lg-block d-sm-block">
          <img class="img-fluid" src="./assets/images/partners/partners_logo.png"/>
        </div>
  
        <div class="col-xl-12 mt-5 d-block d-lg-none d-sm-none">
          <img class="img-fluid" src="./assets/images/partners/partners_logo-mobile-1.png"/>
          <img class="img-fluid" src="./assets/images/partners/partners_logo-mobile-2.png"/>
          <img class="img-fluid" src="./assets/images/partners/partners_logo-mobile-3.png"/>
        </div>
  
        </div>
        </div>
  
  </section>