@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
font-family: 'Open Sans', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
}

.navbar .megamenu {
padding: 1rem;
}

header nav{
background-color: #fff;
border-bottom: 1px solid #e3e3e3;
}

header nav .navbar-brand img{
          min-height: 45px;
          max-height: 45px;
}
        
    
        