.color-white{
    color: #fff;
}

#video-banner {
position: relative;
height: 550px;
max-height: 550px;
}


#video-banner  video{
width: 100%;
max-height: 550px;
object-fit: cover; 
}

.video-content{
position: absolute;
top: 50%;
transform: translate(0, -50%);
width: 100%;
padding: 0 30px;
}


.space{
padding: 3rem;
}

#about{
    /* background-image: url('../images/about-1.webp');
    background-size: cover;
    padding: 6rem 1rem; */
background-color: #032175;
}





/* sector */
#sector{
position: relative;
}

.sector-space{
    padding: 6rem 2rem 1rem;
}


.carousel-nav .carousel-cell.is-nav-selected {
}

.sector-navigation{
position: absolute !important;
top: 0;
width: 100%;
border-bottom: 1px solid #ddd;
padding: 1rem;

}



.sector-navigation .carousel-cell{
margin-right: 3rem;
padding-right: 3rem;
color: #ddd;
font-weight: 600;
border-right: 1px solid #ddd;
}

.is-nav-selected{
    color: #fff !important;
}



.flickity-button{
position: absolute;
left: 8%;
top: 80%;
}

.flickity-prev-next-button.previous {
    left: 4%;
}

.image-1{
background-image: url('./assets/images/sector/sectors-1.webp');
background-size: cover;
}

.image-2{
background-image: url('./assets/images/sector/sectors-2.webp');
background-size: cover;
}


.cases{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em 3.125em;
}



.sector-descrption{

}




