.color-white{
    color: #fff;
}

#video-banner {
position: relative;
height: 100vh;
max-height: 100vh;
}


#video-banner  video{
width: 100%;
height: 100vh;
max-height: 100vh;
object-fit: cover; 
}

.video-content{
position: absolute;

bottom: 20%;
left: 6rem;
transform: translate(0, -50%);
width: 50%;
padding: 0 30px;
}

.video-content h3{
/* text-shadow: 3px 3px 2px rgba(0, 0, 0, 1); */
}


.space{
padding: 3rem 40px;
}

.height-50{
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-gradient{
    -webkit-text-fill-color: transparent;
    background: #29ffc6;
    /* background: linear-gradient(0deg,#032175 0,#fff); */
    background: linear-gradient(0deg,#0cebeb 0,#29ffc6);
    -webkit-background-clip: text;
/* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); */

}

.text-gradient-1{
    -webkit-text-fill-color: transparent;
    background: #0ED2F7;
    background: linear-gradient(0deg,#B2FEFA 0,#0ED2F7);
    -webkit-background-clip: text;
}


#about{
    /* background-image: url('../images/about-1.webp');
    background-size: cover;
    padding: 6rem 1rem; */
background-color: #010c2d;
}






/* sector */
#sector{
position: relative;
}

.sector-space{
    padding: 6rem 6rem 1rem;
}


.carousel-nav .carousel-cell.is-nav-selected {
}

.sector-navigation{
position: absolute !important;
top: 0;
width: 100%;
border-bottom: 1px solid #ddd;
padding: 1rem;

}



.sector-navigation .carousel-cell{
margin-right: 3rem;
padding-right: 3rem;
color: #ddd;
font-weight: 600;
border-right: 1px solid #ddd;
}

.is-nav-selected{
    color: #fff !important;
}



.flickity-button{
position: absolute;
left: 8%;
top: 80%;
}

.flickity-prev-next-button.previous {
    left: 4%;
}

.bg-color{
    position: relative;
    /* max-height: 100vh !important; */
    min-height: 100vh !important;
}

.bg-color:after{
    content: '';
    background-color: rgb(224 224 224 / 21%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.image-1{
background-image: url('../images/sector/sector-1.jpg');
background-size: cover;
}

.image-2{
background-image: url('../images/sector/sector-2.jpg');
background-size: cover;
}

.flickity-viewport{
    /* height:   100vh !important; */
}


.cases{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em 3.125em;
}



.sector-descrption{

}

.cases_wrap{
color: #fff;
}


.cases {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#contact{
    padding: 3rem 6rem;
}


#contact .custom-height{
    height: 100px;
}

#contact .cust-label{
    transform: translateY(1.4rem) translateX(.15rem);
}



.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: rgba(var(--bs-body-color-rgb),.65);
    transform: scale(.85) translateY(-1.9rem) translateX(0.15rem) !important;
}

.custom-label{
    background: #fff;
    height: auto !important;
    padding: 0 !important;
    color: rgba(var(--bs-body-color-rgb),.65);
    transform: scale(.85) translateY(-0.8rem) translateX(0.75rem) !important; 
}


.form-floating span{
    color: red;
}

.custom-btn{
    padding: 1rem;
    font-size: 1rem;
}


.content-box{
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 3rem 0 2rem;
    cursor: pointer;
}

.content-box:hover{
    /* background-color: red; */
    background: linear-gradient(0deg,#005C97 0,#363795);
    color: #fff;
}



@media only screen and (max-width: 767px) {
    .video-content{
        left: 0;
        transform: translate(0, 0);
        width: 100%;
    }

    .sector-space{
        padding: 6rem 30px;
    }
 
    #contact{
        padding: 3rem 30px;
    }

}