<section id="blog" class="common-space">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <!-- <p class="sub-head">TEAM</p> -->
                <p class="title-description">Blogs</p>
              </div>
      
              <div class="col-lg-4 mt-3" *ngFor="let item of blogs; let i = index">
                <img class="img-fluid news-image" [src]="item.image" />
      
                <div class="news-section mb-5">
                  <h5 class="mt-4">{{ item.name }}</h5>
                  <p class="mb-5">{{ item.description }}</p>
      
                  <button (click)="navigate(item, i, 'B')" class="btn news-button">
                    Learn More
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>