<app-header></app-header>

<section id="video-banner">
  <video
    playsinline
    [muted]="'muted'"
    loop
    autoplay
    [src]="videoSource"
  ></video>

  <div class="video-content clear-fix">
    <div class="container">
      <h3>Artificial Intelligence</h3>
    </div>
 
  </div>
</section>

<section id="description" class="common-space">
  <div class="container">
    <div class="row align-items-center">
      <!-- <div class="col-lg-6 order-lg-1 order-2 ">
        <img class="img-fluid" src="../assets/services/AI.png"/>
      </div> -->

      <div class="col-lg-12">
        <h2 class="mb-3">Artificial Intelligence</h2>
        <p>
          At HKB TECH, our AI services are strategically designed to assist companies in translating AI aspirations into actionable initiatives that yield substantial value. We understand that an organization's ability to create a robust foundation for data and AI will be pivotal in adapting, competing, and attaining higher performance levels. The evolving landscape of the world emphasizes the importance of data as a primary source of valuable insights. Yet, having access to data alone is insufficient; it should be trustworthy and effectively utilized.  </p>

        <p>
          Our approach guides companies from initial AI interest to practical application, with a focus on creating clear and responsible business cases. We aid in preparing data, people, and processes for AI adoption, ensuring a secure, cloud-based digital framework to facilitate continuous improvement, growth, efficiency, and resilience. </p>
          <p>With our comprehensive range of services, we harness the potential of data and artificial intelligence (AI), including generative AI (GenAI), to deliver innovative solutions. Our guidance is aimed at unlocking new prospects, optimizing operational efficiency, and fostering informed decision-making for long-term prosperity.           </p>
      </div>
    </div>
  </div>
</section>

<section id="tabs" class="common-space">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-5 col-xl-5 col-5">
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-item" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTab"  (click)="activateTab(i)">{{ tab.title }}
            <i class="fa-solid fa-caret-right"></i>
          </li>
        </ul>
        </div>

        
        <div class="col-lg-8 col-sm-7 col-xl-7 col-7">

          <div class="tab-content">
            <div class="tab-pane"  [class.active]="i === activeTab" *ngFor="let tab of tabs; let i = index">
                  <p>{{tab.description}}</p> 
                  <!-- <p class="mobile-hide">{{tab.Mobiledescription}}</p>  -->
            </div>
          </div>

        </div>
                  
                  
    

        
      </div>
    </div>

  </section>

<app-footer></app-footer>
