<app-header></app-header>

<section id="video-banner">
  <video
    playsinline
    [muted]="'muted'"
    loop
    autoplay
    [src]="videoSource"
  ></video>

  <div class="video-content clear-fix">
    <div class="container">
      <h3>Artificial Intelligence</h3>
    </div>
    <a class="move-forward" href="#about">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </a>
  </div>
</section>

<section id="description" class="common-space">
  <div class="container">
    <div class="row">
          <div class="col-lg-6">

          </div>

          <div class="col-lg-6">
          <h2>What is Lorem Ipsum? </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
          </div>



    </div>
  </div>
</section>



<app-footer></app-footer>
