

.about-mobile{

  ul{
    margin-bottom: 0;
  }

  .carousel-cell{
    min-height: 350px;
    width: 100%;
    border: 1px solid #ffffff33;



    div{
    min-height: 350px;
    padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }



}

