.title {
  text-transform: uppercase;
  color: var(--white);
}

.title-description {
  -webkit-text-fill-color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
  font-size: 1.6rem;
}

$base: 0.6rem;

#video-banner {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .move-forward {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }

  video {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
  }

  .video-content {
    position: absolute;
    bottom: 10%;
    transform: translate(0, -50%);
    width: 100%;
    padding: 0 30px;
    color: var(--white);

    p {
      font-size: 0.8rem;
      font-weight: bold;
    }

    h3 {
      font-size: 1rem;
    }

  }



  .chevron {
    cursor: pointer;
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: var(--white);
  }

  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }

    33.3% {
      opacity: 1;
      transform: translateY($base * 3.8);
    }

    66.6% {
      opacity: 1;
      transform: translateY($base * 5.2);
    }

    100% {
      opacity: 0;
      transform: translateY($base * 8) scale(0.5);
    }
  }


}



// about
#about {
  position: relative;
  background-color: var(--primary-color);
  background-image: url('/assets/video/about.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 6rem 2rem 6rem;


  &::after {
    content: '';
    // background-color: #010c2ded;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }


  h2 {
    background: linear-gradient(0deg, #6d33cc 17%, #2277f8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: var(--white);
    font-size: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    li {
      font-size: 1rem;
      list-style-type: none;
      color: var(--white);

      img {
        height: 35px;
        margin-right: 16px;
      }

    }
  }

}


// services
#services {
  background-color: var(--primary-color);


  .middle-align {
    display: flex;
    align-items: center;


  }


  .carousel-cell {
    width: 30%;
    height: 425px;
    margin-right: 30px;

    .industries-image {
      position: relative;

      img {
        height: 425px;
        width: 100%;
        object-fit: cover;
        transition: transform 2s cubic-bezier(.39, .575, .565, 1);
      }

      h5 {
        color: #fff;
        z-index: 100;
        position: absolute;
        top: 10px;
        font-weight: bold;
        left: 20px;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 0%;
        background-color: #fff;
        transition: height .3s cubic-bezier(.455, .03, .515, .955);
        z-index: 1;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 0%;
        background-color: #fff;
        transition: height .3s cubic-bezier(.455, .03, .515, .955);
        z-index: 1;

      }



    }



    &:hover {

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        z-index: 1;
      }

      img {
        transform: translateZ(0) scale(1.025);
        transition: transform 1.5s cubic-bezier(.23, 1, .32, 1);
      }

      .industries-image {

        &::before {
          top: 10px;
          left: 10px;
          height: 95%;
          transition: height .3s cubic-bezier(.455, .03, .515, .955);
        }

        &::after {
          bottom: 10px;
          right: 10px;
          height: 95%;
          transition: height .3s cubic-bezier(.455, .03, .515, .955);
        }

      }



    }


    .flickity-page-dots .dot.is-selected {
      background: #fff !important;
    }



  }







}





/* sector  industries*/
#sector {
  position: relative;
  color: #fff;

  .static-content {
    p {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    background-color: #0505056b;
    display: inline-block;
    border-radius: 10px;
    padding: 0.6rem;
  }
}




.sector-navigation {
  position: absolute !important;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 1rem;

  .carousel-cell {
    color: #a8a8a8;
    text-transform: uppercase;
    font-size: 1rem;

    &:not(:last-child) {
      border-right: 1px solid #ddd;
      margin-right: 3rem;
      padding-right: 3rem;
    }
  }

}

.carousel-main {

  .custom-box {
    padding: 12rem 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20rem;
    background-size: cover;
    position: relative;
    height: 100vh;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #00000040;
    }
  }

}

.static-content {
  h6 {
    text-transform: uppercase;
  }
}

.dynamic-content {
  h5 {
    text-transform: uppercase;

  }
}


.is-nav-selected {
  color: #fff !important;
}

.sector-types {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1rem;

  .sector-types-catagory {
    display: grid;
    // grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    align-items: center;

    p {
      margin: 0;
    }
  }

}

#team{

  p.title{
    font-size: 2rem;
  }

  .carousel-cell {
    width: 100%;
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }

  video{
    width: 100%;
    height: 600px;
    object-fit: cover;

  }

  .team-description{
    position: absolute;
    top: 60px;
    width: 50%;
  }

  .co-founder{
    position: absolute;
    bottom: 23px;
    right: 0;
    width: 24%;
  }

  .team-container {
      padding: 1rem 1rem 0;
    display: grid;
    align-items: end;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;

   

  }


  .team-description{
    padding: 2rem;
    color: #fff;
    background-color: #0505056b;
    border-radius: 10px;
    img{
      width: 30px;
      margin-right:1rem ;
    }
  }

}





// news

#blog {

  .news-section {

    h5 {
      position: relative;
      padding-bottom: 1.5rem;
      margin-bottom: 2.5rem;
      min-height: 72px;

      &::before {
        content: '';
        position: absolute;
        width: 10%;
        bottom: 0;
        border-bottom: 2px solid var(--blue);
        transition: width 1s ease-in-out;

      }


    }

    p {
      min-height: 115px;
    }


    &:hover {

      h5 {
        &::before {
          transition: width 1s ease-in-out;
          width: 100%;

        }
      }


    }



  }

  .news-button {
    border: 1px solid var(--primary-color);
    position: relative;

    &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: var(--primary-color);
      border-width: 10px;
      margin-left: -10px;
    }

    &::after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #fff;
      color: #fff;
      border-width: 9px;
      margin-left: -9px;
    }

    &:hover {
      background: var(--gradient-3);
      color: var(--white);

    }

    &:hover:before {
      border-color: transparent;
      border-bottom-color: #6d33cc;
      border-width: 0px;
      margin-left: -10px;
    }

    &:hover:after {
      border-bottom-color: #6b37ce !important;
    }



  }

}

#partners {

  img {
    margin: auto;
    filter: grayscale(100%);
    width: 80%;

    &:hover {
      filter: grayscale(0%);
    }

  }

}

//   img{
//     width: 60%;
//     display: block;
//     margin: auto;
//     filter: grayscale(100%);


//   &:hover{

//     img{
//       filter: grayscale(0%);
//     }
//   }
// }

// .carousel-cell {
//   width: 15%;
//   height: 100px;
//   margin-right: 1rem;

//   img{
//     width: 60%;
//     display: block;
//     margin: auto;
//     filter: grayscale(100%);
//   }

//   &:hover{

//     img{
//       filter: grayscale(0%);
//     }

//     }
// }








// contact us


#contact {

  .activebox {
    background: var(--gradient-3);
    color: var(--white);
  }

  button {
    padding: 0.5rem !important;
  }



  .content-box {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 3rem 0 2rem;
    cursor: pointer;

    &:hover {
      background: var(--gradient-3);
      color: #fff;
    }
  }

  .custom-label {
    background: #fff;
    height: auto !important;
    padding: 0 !important;
    color: rgba(var(--bs-body-color-rgb), .65);
    transform: scale(.85) translateY(-0.8rem) translateX(0.75rem) !important;
  }

  .custom-height {
    height: 67px;

    .cust-label {
      transform: translateY(0.4rem) translateX(.15rem);
    }

  }



}


.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  color: rgba(var(--bs-body-color-rgb), .65);
  transform: scale(.85) translateY(-1.9rem) translateX(0.15rem) !important;
}

.form-floating span {
  color: red;
}

.about-mobile {
  display: none !important;
}


@media only screen and (max-width: 767px) {

  body {
    overflow-x: hidden;
  }

  #video-banner {
    .video-content {
      p {
        font-size: 0.95rem;
      }

      h3 {
        font-size: 1.1rem;
      }
    }
  }

  #about {
    padding:  6rem 1rem;
  }

  .about-desktop {
    display: none !important;
  }

  .about-mobile {
    display: block !important;
    // background-color: var(--primary-color) !important;

    ul {
      padding-left: 0;
      display: block !important;

      li {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-row-gap: 0rem;
        align-items: center;

        &:not(:last-child){
          margin-bottom: 1rem;

        }

        img {
          height: 25px;
        }
      }


    }


  }
  .panel {
    min-width: 100%;
    border: 1px solid #ffffff73;
    padding: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

  }


  #team{

    p.title{
      font-size: 1rem;
    }

    p{
      font-size: 0.8rem;
    }

    p.author{
      font-size: 1rem;
    }

    .team-description{
      width: 100%;
    }

    .co-founder{
      position: absolute;
      bottom: 24px;
      right: 0;
      width: 36%;
    }

  }

  


  #video-banner {

    .video-content {
      padding: 0;
      bottom: 15%;
    }

    .move-forward {
      right: -14%;
      top: 90%;
    }


  }


  .common-space {
    padding: 6rem 1rem;
  }


  #services {
    .carousel-cell {
      width: 80%;
    }

  }




  #partners {

    .carousel-cell {
      width: 30%;
      height: auto;
    }

  }


  #sector {
    background-color: var(--primary-color);

    p {
      display: block;
    }

  }

  .carousel-main {


    .custom-box {
      padding: 6rem 2rem;
      display: block;
      background-position: 30% 0;
    }

    .class-1 {
      background-position: 47% 0;

    }

    .class-2 {
      background-position: 23% 0;

    }

    .class-3 {
      background-position: 69% 0;

    }

    .class-7 {
      background-position: 15% 0;

    }

    .class-10 {
      background-position: 50% 0;

    }

    .class-15 {
      background-position: 76% 0;

    }

    .class-16 {
      background-position: 68% 0;

    }








  }



  #sector {

    .sector-navigation {

      .carousel-cell {
        font-size: 0.8rem;
      }

    }

    .static-content {
      p {
        font-size: 0.8rem !important;
      }

      h6 {
        font-size: 0.9rem !important;
      }
    }

    h2 {
      font-size: 0.9rem !important;
    }

    p {
      font-size: 0.8rem !important;

    }

  }

  .sector-types {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;



  }

}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {




  #team{
    padding: 6rem 1rem 0;

    .co-founder{
      width: 50%;
      margin-left: auto;
      display: block;
    }

  }

  .team-section {
    margin-bottom: 1rem;

  }

  .team-container {
    display: block !important;
  }


}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {





  #team{
    padding: 6rem 1rem 0;

    .co-founder{
      width: 50%;
      margin-left: auto;
      display: block;
    }

  }

  .team-section {
    margin-bottom: 1rem;

  }

  .team-container {
    display: block !important;
  }


}






#works {
  height: 100vh;

  >div {
    height: 100%;
  }

  h2 {
    padding-top: 5rem;
  }

  .articles-container {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;
    align-items: center;
    margin-top: -5rem;
    padding: 0 5vw;

    article {
      a {
        display: block;
        width: 20vw;
        height: 25vw;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 30% top;
      }

      picture {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
}