
#video-banner {
  background-image: url('/assets/images/sectors/smartcity.jpeg');
  background-size: cover;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .move-forward {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }

  video {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
  }

  .video-content {
    position: absolute;
    top: 10%;
    transform: translate(0, -50%);
    width: 100%;
    padding: 0 30px;
    color: var(--white);

    p {
      font-size: 0.8rem;
      font-weight: bold;
    }

    h3 {
      font-size: 2rem;
      font-weight: 300;
    }
  }

}

#tabs{

  background-color: var(--primary-color);
  color: var(--white);

  .nav-pills{
    display: block !important;
    border: 1px solid #fff;

    .nav-item{
      display: block;
      cursor: pointer;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child){
        border-bottom: 1px solid #fff;
      }

      i{
    font-size: 2rem;  
    visibility: hidden;     
      }

    }

    .active{
      i{
        visibility: visible !important;     
      }
    }

  }

}




@media only screen and (max-width: 767px) {
  #video-banner {
    background-position: 30% 0;
    .video-content {
      p {
        font-size: 0.95rem;
      }

      h3 {
        font-size: 1.1rem;
      }
    }
  }



  .mobile-hide{
    display: none;
  }
 

  #tabs{
    padding: 5rem 1rem !important;

  .nav-pills{

    .nav-item{
      font-size: 0.9rem;
    }

    i{
      display: none;
    }


    p{
      font-size: 0.8rem;
    }

  }

  }

  .tab-pane{
    p{
      font-size: 14px;
    }
  }

}
