
// {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // },
  // {
  //   "name": "Mr. Hesham Bin Dayel",
  //   "designation": "Chairman of Board of Directors",
  //   "image": "./assets/images/team/Hesham-Bin-Dayel.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // },
  // {
  //   "name": "Dr. Khulood Almani",
  //   "designation": "Chief Executive Officer",
  //   "image": "./assets/images/team/Dr.-Khulood-Almani.png",
  //   "social": [
  //     {"icon":"fa-brands fa-linkedin-in"},
  //     {"icon":"fa-brands fa-x-twitter"}
      
  //   ] 
  // }





    <div class="final">
      <div>
        <h1>Wasn't that fun?</h1>
        <p>Here are a few caveats to keep in mind:</p>
        <ul>
          <li>
            The fake-scrolling animation (just the part that's moving the
            container horizontally) must have no easing (<code
              >ease: "none"</code
            >).
          </li>
          <li>
            Pinning and snapping won't work on ScrollTriggers with a
            <code>containerAnimation</code>.
          </li>
          <li>
            The mapping of scroll position trigger points are based on the
            trigger element itself not being animated horizontally (inside the
            container). If you need to animate the trigger, you can either wrap
            it in a &lt;div&gt; and use that as the trigger instead or just
            factor the trigger's movement into your end position. For example,
            if you animate it left 100px, make the <code>end</code> 100px
            further to the left.
          </li>
          <li>Requires ScrollTrigger 3.8.0 or later</li>
        </ul>
      </div>
    </div>


    <div
    class="about-mobile carousel"
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-easing="ease-in-sine"
  >
    <div class="carousel-cell">
      <div>
        <ul>
          <li>AI & Machine Learning</li>
          <li>Smart Cities</li>
          <li>Internet of Things (IoT)</li>
          <li>Robotic Process Automation (RPA)</li>
        </ul>
      </div>
    </div>

    <div class="carousel-cell">
      <div>
        <ul>
          <li>Predictive Analytics</li>
          <li>Computer Vision & Image Recognition</li>
          <li>Big Data analytics & visualization</li>
          <li>Digital Banking / FinTech</li>
        </ul>
      </div>
    </div>

    <div class="carousel-cell">
      <div>
        <ul>
          <li>BioTech / HealthTech</li>
          <li>Sustainability / Net Zero</li>
          <li>CleanTech / ClimateTech / GreenTech</li>
          <li>Renewables / Wearables</li>
        </ul>
      </div>
    </div>

    <div class="carousel-cell">
      <div>
        <ul>
          <li>Assurance/Cybersecurity</li>
          <li>EdTech</li>
          <li>Fit Tech</li>
        </ul>
      </div>
    </div>
  </div>





  <div class="about-mobile" id="about">
    <section id="about" class="about  pin-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
  
            <h2 class="text-center mb-4 ">About HKB Tech</h2>
  
            <p
              class="mb-3 text-center"
            >
              As a subsidiary of the legacy leading Saudi company (Bin Dayel
              Group), established in 1963, which spans multiple sectors including
              real estate, manufacturing, contracting, investment, and
              agriculture, HKB Tech has been established as the new technology
              enabled wing, aligning to Vision 2030.
            </p>
  
            <p
              class="mb-5 text-center"
            >
              HKB company specializes in delivering cutting-edge projects in
              multiple industries spanning multiple sectors including:
            </p>
  
            <p
            class="mb-5 text-center"
          >
            HKB Tech is aimed to expand significantly beyond, and contribute to
            the diversification of the economy helping create a new ecosystem
            heavily enabled by technology and knowledge in Saudi Arabia.
          </p>
  
           <!-- show Mobile -->
           <div class="pin-mobile">
            <div class="panel" 
            >
              <ul>
                 <li> <img src="./assets/images/list/1.png"/>AI & Machine Learning</li>
                 <li><img src="./assets/images/list/1.png"/>Internet of Things (IoT)</li>
                 <li><img src="./assets/images/list/1.png"/>Conversational AI/ DeepTech</li>
                 <li> <img src="./assets/images/list/1.png"/>Metaverse, AR/VR</li>
                 <li><img src="./assets/images/list/1.png"/> Predictive Analytics</li>
              </ul>
            </div>
      
            <div class="panel">
                <ul>
                  <li><img src="./assets/images/list/1.png"/>Big Data analytics & visualization</li>
                  <li><img src="./assets/images/list/1.png"/>BioTech / HealthTech</li>
                  <li><img src="./assets/images/list/1.png"/>CleanTech / ClimateTech / GreenTech</li>
                  <li><img src="./assets/images/list/1.png"/>Assurance/Cybersecurity</li>
                  <li><img src="./assets/images/list/1.png"/>Fit Tech</li>
                </ul>
              </div>
      
              <div class="panel">
                <ul>
                  <li><img src="./assets/images/list/2.png"/>Smart Cities</li>
                    <li><img src="./assets/images/list/2.png"/>Robotic Process Automation (RPA)</li>
                      <li><img src="./assets/images/list/2.png"/>Blockchain development & integration</li>
                        <li><img src="./assets/images/list/2.png"/>Cloud Computing</li>
                          <li><img src="./assets/images/list/2.png"/>Computer Vision & Image Recognition</li>
                </ul>
              </div>
      
              <div class="panel">
                <ul>
                  <li><img src="./assets/images/list/2.png"/>Digital Banking / FinTech</li>
                  <li><img src="./assets/images/list/2.png"/>Sustainability / Net Zero</li>
                  <li><img src="./assets/images/list/2.png"/>Renewables / Wearables</li>
                  <li><img src="./assets/images/list/2.png"/>EdTech</li>
                </ul>
              </div>
      
      
          </div>
  
  
          
          </div>
        </div>
      </div>
    </section>
  </div>